.match {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(47, 50, 51);
  color: white;
}

.team {
  flex: 4;
}

.home {
    text-align: right;
    margin-left: 10px;
}

.goal {
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  background-color: rgb(62, 65, 62);
}

.kickoff {
  flex: 1;
}
