<div class="conatiner">
  <form [formGroup]="matchSearchform" class="match-form">
    <mat-form-field>
      <mat-label>Choose Season</mat-label>
      <mat-select formControlName="seasonId">
        <mat-option [value]="season.value" *ngFor="let season of seasons">{{
          season.displayName
        }}</mat-option>
      </mat-select>
      <mat-error>required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose Spieltag</mat-label>
      <mat-select formControlName="spieltagId">
        <mat-option [value]="spielTag.value" *ngFor="let spielTag of spielTags">{{
          spielTag.displayName
        }}</mat-option>
      </mat-select>
      <mat-error>required</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="searchMatches()" class="search-button">Search</button>
  </form>

  <div *ngIf="$matchDataView | async as matchDataView" class="matchdata-view">
    <app-match-results [matchDataView]="matchDataView"></app-match-results>
  </div>
</div>
