<div class="conatiner">
  <form [formGroup]="matchSearchform">
    <mat-form-field>
      <mat-label>Choose Season</mat-label>
      <mat-select formControlName="season">
        <mat-option [value]="season.value" *ngFor="let season of seasons">{{
          season.displayName
        }}</mat-option>
      </mat-select>
      <mat-error>required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose Spieltag</mat-label>
      <mat-select formControlName="spielTag">
        <mat-option [value]="spielTag.value" *ngFor="let spielTag of spielTags">{{
          spielTag.displayName
        }}</mat-option>
      </mat-select>
      <mat-error>required</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="searchFixtures()">Search</button>
  </form>

  <div *ngIf="$matches | async as matches">
    <app-match-results [matches]="matches"></app-match-results>
  </div>
</div>
