.conatiner {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-form {
    display: flex;
    align-items: baseline;
    gap: 2rem;
}

.matchdata-view {
    width: 90%;
}

@media screen and (max-width: 768px){
    .matchdata-view {
        width: 100%;
    }

    .conatiner {
        margin: 3rem;
        align-items: stretch;
    }

    .match-form {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .mat-mdc-form-field {
        width: 60%;
    }
}

@media screen and (max-width: 425px){
    .mat-mdc-form-field {
        width: 80%;
    }

    .matchdata-view {
        width: 100%;
    }

    .conatiner {
        margin: 1.5rem;
    }
}